.mat-form-field-flex{
    background-color: transparent;
}

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    font-weight: 400 !important;
    /* line-height: 1.5; */
    border-radius: 0.375rem!important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%) !important;
    border: 0 !important;
    transition: box-shadow 0.15s ease !important;
    padding: 0 .75em 0 .75em !important;

  }
  ::ng-deep .mat-select-value{
    color: #8898aa !important;
  }
  ::ng-deep .mat-form-field-underline{
      display :none;
  }
//   #my-suffix {
//     position: absolute;
//     left: 0;
//     top: 3px;
//     color: #555;
//     padding-left: 5px;
//     font: inherit;
//   }

::ng-deep.mat-form-field{
    display: flex !important;
}
.form-control-alternative{
    width: auto;
    margin-bottom: 0 !important;
}
::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0px !important;
}
.btn-default{
    background-color: #76A82F !important;
}
.title-calcul{
    font-family: philosopherregular;
    font-size: 30px;
    line-height: 32px;
    color: #373737;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
.mat-typography{
    background: none;
}
.card-body{
    background-color: #f1f1f1;
}
.card-header{
    border-bottom:1px solid white !important;
    background-color: #f1f1f1 !important;
}
